* {
  box-sizing: border-box;  
  font-family: "Poppins", sans-serif;
}

body {
  background-color: transparent;
}

@media (max-width: 600px) {
  .swiper img {
    width: 550px !important;
    height:300px;
    object-fit: cover;
    object-position: calc(100% - 2rem) center;
  }

  .container {
    max-height: 22.5rem !important;
    overflow-x: hidden !important;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

}


.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.swiper {
  width: 80%;
  height: fit-content;
}

.swiper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
  margin-top: -2rem;
  
}


.swiper .swiper-button-prev, .swiper .swiper-button-next, .swiper .swiper-slide  {
  color: #2f1e18;
}


.swiper .swiper-button-prev:hover, .swiper .swiper-button-next:hover {
  color: #8d5032;
}

.swiper .swiper-pagination-bullet-active {
  background: #2f1e18;

}


@keyframes slide-card {
  0% {
    opacity: 0;
    transform: translateY(10vh);
  }
  25% {
    opacity: 0.3;
    transform: translateY(7vh);
  }
  50% {
    opacity: 0.6;
    transform: translateY(6vh);
  }
  75% {
    opacity: 0.9;
    transform: translateY(4vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .swiper-slide img{
    view-timeline-name: --item-timeline;
    animation: slide-card 1s ease-out both; 
    animation-timeline: --item-timeline;
    animation-range: contain 0% contain 50%;
}
  }